[Desktop Entry]
Name[ar]=جدار الحماية
Name[da]=Brandmur
Name[de]=Firewall
Name[el]=Τείχος προστασίας
Name[en_GB]=Firewall
Name[es]=Cortafuegos
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[hi]=फ़ायरवॉल
Name[id]=Bendalawang
Name[it]=Firewall
Name[ja]=ファイアウォール
Name[ko]=방화벽
Name[nl]=Firewall
Name[pl]=Zapora sieciowa
Name[pt]=Parede de Firewall
Name[pt_BR]=Firewall
Name[ro]=Zid de protecție
Name[ru]=Межсетевой экран
Name[sv]=Brandvägg
Name[th]=ไฟร์วอลล์
Name[tr]=Güvenlik Duvarı
Name[uk]=Файрвол
Name[vi]=Tường lửa
Name[zh_CN]=防火墙
Name[zh_HK]=防火牆
Name[zh_TW]=防火牆
Name=Firewall
GenericName[ar]=جدار الحماية
GenericName[da]=Brandmur
GenericName[de]=Firewall
GenericName[el]=Τείχος προστασίας
GenericName[en_GB]=Firewall
GenericName[es]=Cortafuegos
GenericName[fi]=Palomuuri
GenericName[fr]=Pare-feu
GenericName[hi]=फ़ायरवॉल
GenericName[id]=Bendalawang
GenericName[it]=Firewall
GenericName[ja]=ファイアウォール
GenericName[ko]=방화벽
GenericName[nl]=Firewall
GenericName[pl]=Zapora sieciowa
GenericName[pt]=Firewall
GenericName[pt_BR]=Firewall
GenericName[ro]=Zid de protecție
GenericName[ru]=Межсетевой экран
GenericName[sv]=Brandvägg
GenericName[th]=ไฟร์วอลล์
GenericName[tr]=Güvenlik Duvarı
GenericName[uk]=Файрвол
GenericName[vi]=Tường lửa
GenericName[zh_CN]=防火墙
GenericName[zh_HK]=防火牆
GenericName[zh_TW]=防火牆
GenericName=Firewall
Comment[ar]=اضبط جدار الحماية الخاص بك
Comment[da]=Konfigurer din brandmur
Comment[de]=Konfigurieren Sie Ihre Firewall
Comment[el]=Διαμορφώστε το τείχος προστασίας σας
Comment[en_GB]=Configure your firewall
Comment[es]=Configure su cortafuegos
Comment[fi]=Määritä palomuurisi
Comment[fr]=Configurez votre pare-feu
Comment[hi]=अपना फ़ायरवॉल कॉन्फ़िगर करें
Comment[id]=Konfigurasikan bendalawang Anda
Comment[it]=Configura il tuo firewall
Comment[ja]=ファイアウォールを設定
Comment[ko]=방화벽 구성
Comment[nl]=Configureer uw firewall
Comment[pl]=Skonfiguruj zaporę sieciową
Comment[pt]=Configure a sua firewall
Comment[pt_BR]=Configure seu firewall
Comment[ro]=Configurați zidul de protecție
Comment[ru]=Настройте межсетевой экран
Comment[sv]=Konfigurera din brandvägg
Comment[th]=กำหนดค่าไฟร์วอลล์ของคุณ
Comment[tr]=Güvenlik duvarınızı yapılandırın
Comment[uk]=Налаштуйте файрвол
Comment[vi]=Cấu hình tường lửa của bạn
Comment[zh_CN]=配置您的防火墙
Comment[zh_HK]=設定您的防火牆
Comment[zh_TW]=設定您的防火牆
Comment=Configure your firewall
Exec=ufwall-gtk
Icon=com.anduinos.ufwall
Terminal=false
Type=Application
Categories=System;Settings;Security;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=جدار الحماية;ufw;أمان;شبكة;
Keywords[da]=brandmur;ufw;sikkerhed;netværk;
Keywords[de]=Firewall;ufw;Sicherheit;Netzwerk;
Keywords[el]=τείχος προστασίας;ufw;ασφάλεια;δίκτυο;
Keywords[en_GB]=firewall;ufw;security;network;
Keywords[es]=cortafuegos;ufw;seguridad;red;
Keywords[fi]=palomuuri;ufw;tietoturva;verkko;
Keywords[fr]=pare-feu;ufw;sécurité;réseau;
Keywords[hi]=फ़ायरवॉल;ufw;सुरक्षा;नेटवर्क;
Keywords[id]=bendalawang;ufw;keamanan;jaringan;
Keywords[it]=firewall;ufw;sicurezza;rete;
Keywords[ja]=ファイアウォール;ufw;セキュリティ;ネットワーク;
Keywords[ko]=방화벽;ufw;보안;네트워크;
Keywords[nl]=firewall;ufw;beveiliging;netwerk;
Keywords[pl]=zapora sieciowa;ufw;bezpieczeństwo;sieć;
Keywords[pt]=firewall;ufw;segurança;rede;
Keywords[pt_BR]=firewall;ufw;segurança;rede;
Keywords[ro]=zid de protecție;ufw;securitate;rețea;
Keywords[ru]=межсетевой экран;ufw;безопасность;сеть;
Keywords[sv]=brandvägg;ufw;säkerhet;nätverk;
Keywords[th]=ไฟร์วอลล์;ufw;ความปลอดภัย;เครือข่าย;
Keywords[tr]=güvenlik duvarı;ufw;güvenlik;ağ;
Keywords[uk]=файрвол;ufw;безпека;мережа;
Keywords[vi]=tường lửa;ufw;bảo mật;mạng;
Keywords[zh_CN]=防火墙;ufw;安全;网络;
Keywords[zh_HK]=防火牆;ufw;安全;網絡;
Keywords[zh_TW]=防火牆;ufw;安全;網路;
Keywords=firewall;ufw;security;network;
