[Desktop Entry]
Name[be]=Музычны прайгравальнік
Name[bg]=Плеър за музика
Name[ca]=Reproductor de música
Name[cs]=Přehrávač hudby
Name[da]=Musikafspiller
Name[de]=Musikwiedergabe
Name[el]=Αναπαραγωγή μουσικής
Name[en_GB]=Music Player
Name[es]=Reproductor de música
Name[eu]=Musika-erreproduzigailua
Name[fa]=پخش‌کنندهٔ آهنگ
Name[fi]=Musiikkisoitin
Name[fr]=Lecteur de musique
Name[fur]=Riprodutôr musicâl
Name[gl]=Reprodutor de música
Name[he]=נגן מוזיקה
Name[hi]=म्यूजिक प्लेयर
Name[hr]=Glazbeni reproduktor
Name[hu]=Zenelejátszó
Name[ia]=Reproductor de musica
Name[id]=Pemutar Musik
Name[is]=Tónlistarspilari
Name[it]=Lettore musicale
Name[ka]=მედია დამკვრელი
Name[ko]=음악 재생기
Name[lt]=Muzikos grotuvas
Name[ml]=മ്യൂസിക് പ്ലെയർ
Name[my]=သီချင်းဖွင့်ကိရိယာ
Name[nb]=Musikkspiller
Name[nl]=Muziekspeler
Name[oc]=Lector de musica
Name[pl]=Odtwarzacz muzyki
Name[pt]=Reprodutor de música
Name[pt_BR]=Reprodutor de músicas
Name[ro]=Player muzică
Name[ru]=Музыкальный проигрыватель
Name[sk]=Prehrávač hudby
Name[sl]=Predvajalnik glasbe
Name[sr]=Програм за пуштање музике
Name[sv]=Musikspelare
Name[tr]=Müzik Çalar
Name[uk]=Програвач музики
Name[zh_CN]=音乐播放器
Name[zh_TW]=音樂播放器
Name=Music Player
GenericName[be]=Музычны прайгравальнік
GenericName[bg]=Плеър за музика
GenericName[ca]=Reproductor de música
GenericName[cs]=Přehrávač hudby
GenericName[da]=Musikafspiller
GenericName[de]=Musikwiedergabe
GenericName[el]=Αναπαραγωγή μουσικής
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[eu]=Musika-erreproduzigailua
GenericName[fa]=پخش‌کنندهٔ آهنگ
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[fur]=Riprodutôr musicâl
GenericName[gl]=Reprodutor de música
GenericName[he]=נגן מוזיקה
GenericName[hi]=म्यूजिक प्लेयर
GenericName[hr]=Glazbeni reproduktor
GenericName[hu]=Zenelejátszó
GenericName[ia]=Reproductor de musica
GenericName[id]=Pemutar Musik
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore musicale
GenericName[ka]=მედია დამკვრელი
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[ml]=മ്യൂസിക് പ്ലെയർ
GenericName[my]=သီချင်းဖွင့်ကိရိယာ
GenericName[nb]=Musikkspiller
GenericName[ne]=सङ्गीत बजाउने
GenericName[nl]=Muziekspeler
GenericName[oc]=Lector de musica
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Reprodutor de música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ro]=Player muzică
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Prehrávač hudby
GenericName[sl]=Predvajalnik glasbe
GenericName[sr]=Програм за пуштање музике
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Програвач музики
GenericName[zh_CN]=音乐播放器
GenericName=Music Player
TryExec=amberol
Exec=amberol %U
Icon=io.bassi.Amberol
Terminal=false
Type=Application
Categories=GNOME;GTK;Music;Audio;AudioVideo;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=player;музычны;прайгравальнік;мультымедыя;аўдыя;прайграванне;плэер;
Keywords[bg]=музика;устройство;медия;звук;аудио;списък;песни;изпълнение;music;player;media;audio;playlist;
Keywords[ca]=música;so;reproductor;multimèdia;àudio;llista de reproducció;
Keywords[cs]=hudba;přehrávač;média;audio;playlist;
Keywords[da]=musik;afspiller;medie;lyd;afspilningsliste;playliste;
Keywords[de]=music;player;media;audio;playlist;Musik;Wiedergabe;Medien;Audio;Wiedergabeliste;
Keywords[el]=μουσική;αναπαραγωγέας;μέσα;ήχος;λίστα αναπαραγωγής;
Keywords[en_GB]=music;player;media;audio;playlist;
Keywords[es]=música;sonido;reproductor;medio;lista;reproducción;
Keywords[eu]=musika;erreproduzigailua;multimedia;audioa;erreprodukzio-zerrenda
Keywords[fa]=music;player:media;موزیک;آهنگ;موسیقی;صدا;صوت;آوا;پخش‌کننده;رسانه;
Keywords[fi]=music;player;media;audio;playlist;musiikki;ääni;soitin;soittolista;
Keywords[fr]=musique;son;lecteur;média;audio;liste de lecture;
Keywords[fur]=musiche;riprodutôr;multimedia;audio;liste di riproduzion;
Keywords[gl]=música;reprodutor;media;son;lista de reprodución;
Keywords[he]=מוזיקה;מוסיקה;שמע;צליל;נגן;מדיה;אודיו;רשימת השמעה;רשימות השמעה;פליליסט;
Keywords[hi]=music;player;media;audio;playlist;संगीत;प्लेयर;मीडिया;ऑडियो;प्लेलिस्ट;
Keywords[hr]=glazba;reproduktor;medij;zvuk;popis izvođenja;
Keywords[hu]=zene;lejátszó;média;hang;lejátszási lista;
Keywords[ia]=musica;reproductor;medios;audio;lista de reproduction;
Keywords[id]=musik;pemutar;media;audio;daftar putar;
Keywords[is]=tónlist;spilari;margmiðlun;hljóð;spilun;spilunarlisti
Keywords[it]=musica;lettore;media;audio;playlist;
Keywords[ka]=music;sound;player;media;audio;playlist;
Keywords[ko]=music;음악;곡;player;재생;재생기;media;매체;미디어;audio;오디오;소리;음성;playlist;재생목록;목록;
Keywords[lt]=muzika;grotuvas;medija;garsas;grojaraštis;
Keywords[ml]=സംഗീതം; പ്ലെയർ; മീഡിയ; ഓഡിയോ; പ്ലേലിസ്റ്റ്;
Keywords[my]=သီချင်း;သီချင်းဖွင့်ကိရိယာ;မီဒီယာ;အော်ဒီယို;အသံ;သီချင်းစာရင်း;
Keywords[nb]=GNOME;GTK;musikkspiller;musikkavspiller;musikk;lyd;spillelister;musikkavspilling;lytting;høre;
Keywords[nl]=muziek;music;speler;player;media;audio;afspeellijst;playlist;
Keywords[oc]=musica;lector;mèdia;audio;àudio;lista de lectura;
Keywords[pl]=muzyka;music;odtwarzacz;player;plejer;media;multimedia;audio;lista odtwarzania;playlista;plejlista;MP3;empetrzy;empetrójka;
Keywords[pt]=música;músicas;music;som;reprodutor;leitor;player;multimédia;áudio;audio;lista de reprodução;playlist;
Keywords[pt_BR]=música;músicas;music;som;reprodutor;player;mídia;áudio;audio;lista de reprodução;playlist;
Keywords[ro]=music;player;media;audio;playlist;muzică;listă de redare;
Keywords[ru]=music;player;media;audio;playlist;музыка;проигрыватель;медиа;аудио;список воспроизведения;
Keywords[sk]=hudba;prehrávač;mediá;audio;playlist;
Keywords[sl]=music;player;media;audio;playlist;glasba;predvajalnik;predstavna vsebina;seznam predvajanja;skladbe;pesmi;
Keywords[sr]=музика;пуштач;медија;аудио;списак;music;player;media;audio;playlist;
Keywords[sv]=musik;spelare;media;audio;spellista;
Keywords[tr]=music;player;media;audio;playlist;müzik;oynatıcı;çalıcı;çalar;müzik çalar;müzik oynatıcı;medya;ortam;ses;oynatma listesi;çalma listesi;
Keywords[uk]=music;player;media;audio;playlist;музика;звук;програвач;мультимедіа;звук;список відтворення;відтворення;
Keywords[zh_CN]=music;player;media;audio;playlist;音乐;播放器;媒体;音频;播放列表;
Keywords=music;player;media;audio;playlist;
StartupNotify=true
X-SingleMainWindow=true
X-Purism-FormFactor=Workstation;Mobile;
DBusActivatable=true
MimeType=audio/mpeg;audio/wav;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-m4b;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-mpg;audio/x-mpeg;audio/x-mpegurl;audio/x-opus+ogg;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wavpack;inode/directory;
