[Desktop Entry]
Name[be]=Электронная пошта
Name[bs]=E-pošta
Name[ca]=Correu electrònic
Name[cs]=E-mail
Name[da]=E-mail
Name[de]=E-Mail
Name[el]=Ηλεκτρονικό ταχυδρομείο
Name[en_GB]=E-mail
Name[eo]=Retpoŝto
Name[es]=Correo-e
Name[eu]=Posta elektronikoa
Name[fa]=رایانامه
Name[fi]=Sähköposti
Name[fr]=Courriel
Name[fur]=E-mail
Name[gl]=Correo
Name[he]=דוא״ל
Name[hr]=E-pošta
Name[hu]=E-mail
Name[id]=Surel
Name[ie]=Postage electronic
Name[it]=Email
Name[ja]=メール
Name[ka]=ელფოტა
Name[kk]=Эл. пошта
Name[lt]=El. paštas
Name[nb]=E-post
Name[nl]=E-mail
Name[oc]=Adreça
Name[pl]=Poczta
Name[pt]=Correio
Name[pt_BR]=E-mail
Name[ro]=Email
Name[ru]=Эл. почта
Name[sk]=Email
Name[sl]=Elektronska pošta
Name[sr]=Е-пошта
Name[sr@latin]=E-pošta
Name[sv]=E-post
Name[tr]=E-posta
Name[uk]=Електронна пошта
Name[zh_CN]=邮件
Name[zh_TW]=Email
Name=Email
GenericName[be]=Электронная пошта
GenericName[ca]=Correu electrònic
GenericName[cs]=E-mail
GenericName[da]=E-mail
GenericName[de]=E-Mail
GenericName[el]=Ηλεκτρονικό ταχυδρομείο
GenericName[en_GB]=E-mail
GenericName[eo]=Retpoŝto
GenericName[es]=Correo-e
GenericName[eu]=Posta elektronikoa
GenericName[fa]=رایانامه
GenericName[fi]=Sähköposti
GenericName[fr]=Courriel
GenericName[fur]=E-mail
GenericName[gl]=Correo
GenericName[he]=דוא״ל
GenericName[hr]=E-pošta
GenericName[hu]=E-mail
GenericName[id]=Surel
GenericName[ie]=Postage electronic
GenericName[it]=Email
GenericName[ja]=メール
GenericName[ka]=ელფოტა
GenericName[kk]=Эл. пошта
GenericName[lt]=El. paštas
GenericName[nb]=E-post
GenericName[nl]=E-mail
GenericName[oc]=Adreça
GenericName[pl]=Poczta
GenericName[pt]=Correio
GenericName[pt_BR]=E-mail
GenericName[ro]=Email
GenericName[ru]=Эл. почта
GenericName[sk]=Email
GenericName[sl]=Elektronska pošta
GenericName[sr]=Е-пошта
GenericName[sr@latin]=E-pošta
GenericName[sv]=E-post
GenericName[tr]=E-posta
GenericName[uk]=Електронна пошта
GenericName[zh_CN]=电子邮件
GenericName[zh_TW]=Email
GenericName=Email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[be]=Адпраўленне і атрыманне электроннай пошты
Comment[bs]=Šaljite i primajte e-poštu
Comment[ca]=Envieu i rebeu correus electrònics
Comment[cs]=Odesílejte a přijímejte e-maily
Comment[da]=Send og modtag e-mail
Comment[de]=E-Mails senden und empfangen
Comment[el]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[en_CA]=Send and receive e-mail
Comment[en_GB]=Send and receive e-mail
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba mensajes de correo electrónico
Comment[et]=Send and receive email
Comment[eu]=Bidali eta jaso mezuak
Comment[fa]=فرستادن و گرفتن رایانامه
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des courriels
Comment[fur]=Invie e ricêf e-mail
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primi i pošalji e-poštu
Comment[hu]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[ie]=Inviar un reciver e-postage
Comment[it]=Invia e riceve email
Comment[ja]=メールの送信と受信
Comment[ka]=ელფოსტის გაგზავნა და მიღება
Comment[kk]=Эл. поштаны жіберу және қабылдау
Comment[km]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms]=Hantar dan terima emel
Comment[nb]=Send og motta e-post
Comment[nl]=E-mail verzenden en ontvangen
Comment[oc]=Mandar e recebre de corrièrs electronics
Comment[pl]=Wysyłanie i odbieranie poczty
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Envie e receba e-mail
Comment[ro]=Trimite și primește emailuri
Comment[ru]=Отправка и получение эл. почты
Comment[sk]=Odosiela a prijíma emaily
Comment[sl]=Prejemanje in pošiljanje sporočil
Comment[sr]=Шаље и прима е-пошту
Comment[sr@latin]=Šalje i prima e-poštu
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=E-posta gönder ve al
Comment[uk]=Надіслати та одержати пошту
Comment[zh_CN]=发送并接收电子邮件
Comment[zh_TW]=寄送與收受郵件
Comment=Send and receive email
# Translators: These are desktop search terms. Do not translate semicolons, end line with a semicolon.
Keywords[cs]=pošta;mail;e-mail;elektronická pošta;imap;gmail;yahoo;hotmail;outlook;
Keywords[da]=Mail;E-mail;Email;Post;E-post;Brev;E-brev;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[de]=Mail;E-Mail;IMAP;GMail;Yahoo;Hotmail;Outlook;Post;Email;
Keywords[eu]=Posta;Posta elektronikoa;email;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[fa]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;نامه;رایانامه;ای‌میل;پست;جی‌میل;یاهو;هات‌میل;اوت‌لوک;
Keywords[fi]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;sähköposti;
Keywords[fr]=Messagerie;Mail;Courriel;email;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[gl]=Correo;Correo electrónico;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[he]=דואר;דואר אלקטרוני;דוא״ל;דואל;מייל;אימייל;Gmail;GMaill;Yahoo;Hotmail;Outlook;
Keywords[hu]=Levél;Levelezés;E-mail;Email;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[id]=Surat;Surel;Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[it]=Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[kk]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;Пошта;Эл.пошта;
Keywords[nl]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[pl]=Poczta;Mail;E-mail;Email;Emajl;Emejl;Imail;Imejl;Imajl;Mejl;Majl;Wiadomości;IMAP;Gmail;Dżimejl;Dżimajl;Yahoo;Jahu;Hotmail;Hotmejl;Outlook;Ałtluk;
Keywords[pt]=Mail;E-mail;Correio;Correio Eletrónico;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[pt_BR]=Correio;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[ro]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;Email;
Keywords[ru]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;Почта;Эл. почта;
Keywords[sk]=Mail;pošta;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[sl]=Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;elektronska pošta;e-pošta;e-sporočilo;e-sporočila;
Keywords[sv]=Mail;Mejl;E-mail;email;E-post;Epost;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[tr]=Posta;E-posta;eposta;Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;
Keywords[uk]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;пошта;електронна;електронка;імап;аймап;повідомлення;жмейл;яху;ягу;хотмейл;готмейл;аутлук;
Keywords[zh_CN]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;电子邮件;电子邮箱;电子信箱;邮件;邮箱;信箱;谷歌邮箱;雅虎邮箱;微软邮箱;
Keywords[zh_TW]=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;電子郵件;電郵;郵件;信件;
Keywords=Mail;E-mail;email;IMAP;GMail;Yahoo;Hotmail;Outlook;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Geary
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
DBusActivatable=true
Actions=compose;new-window
X-GNOME-UsesNotifications=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action compose]
Name[ar]=اكتب رسالة جديدة
Name[be]=Напісаць ліст
Name[bs]=Sastavi poruku
Name[ca]=Redacta un missatge
Name[cs]=Napsat zprávu
Name[da]=Skriv besked
Name[de]=Nachricht verfassen
Name[el]=Σύνθεση μηνύματος
Name[en_CA]=Compose Message
Name[en_GB]=Compose Message
Name[eo]=Verki mesaĝon
Name[es]=Redactar mensaje
Name[et]=Koosta uus kiri
Name[eu]=Prestatu mezua
Name[fa]=نوشتن پیام
Name[fi]=Lähetä viesti
Name[fr]=Écrire un message
Name[fur]=Scrîf messaç
Name[gl]=Redactar unha mensaxe
Name[he]=יצירת הודעה
Name[hr]=Sastavljanje poruke
Name[hu]=Levél írása
Name[id]=Susun Pesan
Name[ie]=Composir un missage
Name[it]=Componi messaggio
Name[ja]=メッセージを作成
Name[ka]=შეტყობინების შედგენა
Name[kk]=Хатты жазу
Name[km]=តែង​សារ
Name[lt]=Rašyti laišką
Name[ms]=Gubah Mesej
Name[nb]=Skriv melding
Name[nl]=Bericht opstellen
Name[oc]=Escriure un messatge
Name[pl]=Utwórz wiadomość
Name[pt]=Escrever mensagem
Name[pt_BR]=Escrever mensagem
Name[ro]=Compune un mesaj
Name[ru]=Написать сообщение
Name[sk]=Napísať správu
Name[sl]=Sestavi sporočilo
Name[sr]=Нова порука
Name[sr@latin]=Nova poruka
Name[sv]=Skriv meddelande
Name[te]=సందేశాన్ని సృష్టించండి
Name[tr]=İleti Oluştur
Name[uk]=Скласти лист
Name[vi]=Soạn tin nhắn
Name[zh_CN]=编写消息
Name[zh_TW]=編撰訊息
Name=Compose Message
Exec=geary mailto:

[Desktop Action new-window]
Name[be]=Новае акно
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf barcon
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[ie]=Nov fenestre
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kk]=Жаңа терезе
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=geary --new-window
